@media all and (max-width: 600px) {
  .container .container-header {
    font-size: 2em !important;
  }
  .container .container-main {
    width: 300px !important;
    height: 300px !important;
  }
  .container .container-main .container-square {
    width: 100%;
    height: 32%;
    margin: 0 auto;
  }
  .container .container-main .container-square .square {
    width: 32%;
    height: 100%;
  }
  .circle {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: 20px solid #ff4c4b;
  }
  .container .container-main .container-square .square span {
    font-size: 6rem;
    color: #ff4c4b;
  }
}

@media all and (max-width: 1000px) {
  .container .container-main {
    width: 500px;
    height: 500px;
  }
  .container .container-header {
    font-size: 3em;
  }
}
