@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #ff4c4b;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.container .container-header {
  color: #ffca28;
  font-family: "lemon", sans-serif;
  font-size: 1.5em;
}
.container .container-main {
  margin-top: 1rem;
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container .container-main .container-square {
  width: 100%;
  height: 32%;
  display: flex;
  justify-content: space-between;
}

.container .container-main .container-square .square {
  width: 32%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffca28;
}
.container .container-main .container-square .square span {
  font-size: 10em;
  color: #ff4c4b;
}
.circle {
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  border: 28px solid #ff4c4b;
}
@media all and (max-width: 600px) {
  .container .container-main {
    width: 300px;
    height: 300px;
  }
}

@media all and (max-width: 1000px) {
  .container .container-main {
    width: 500px;
    height: 500px;
  }
}
