@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #ff4c4b;
  display: flex;
  justify-content: center;
  font-family: "lemon", sans-serif;
  /* align-items: center; */
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.container .container-header {
  color: #ffca28;
  font-family: "lemon", sans-serif;
  font-size: 1.5em;
}
.container .container-main {
  margin-top: 1rem;
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container .container-main .container-square {
  width: 100%;
  height: 32%;
  display: flex;
  justify-content: space-between;
}

.container .container-main .container-square .square {
  width: 32%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffca28;
}
.container .container-main .container-square .square span {
  font-size: 10em;
  color: #ff4c4b;
}
.circle {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 28px solid #ff4c4b;
}

/* Message */
.container-message {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  animation: all 1s;
}
.container-message.active {
  display: flex;
}

.container-message .message {
  background-color: white;
  padding: 2rem;
  text-align: center;
  color: #ff4c4b;
  font-family: inherit;
  border-radius: 5%;
}
.container-message .message button {
  margin-top: 20px;
  padding: 10px;
  color: #ffca28;
  background-color: #ff4c4b;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 30px;
}
